# Node modules
node_modules/

# Build outputs
dist/
build/

backend/src/seeds
backend/src/seeds/user.seed.ts
# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Frontend build artifacts
*.log
.cache/
.next/       # for Next.js
out/         # for Next.js static export
public/static/

# Build output
coverage/

# PM2 logs (if using)
pids
logs
